@import "tailwindcss";
@tailwind utilities;

body {
    @apply bg-[#17181c] text-white;
}

table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
}
.bgColorDark{
    @apply bg-[#17181c];
}
.bgColorLight {
    @apply bg-[#1c2029];
}
.table-container {
    @apply relative overflow-x-auto;
}

.bottomBorder {
    @apply border-b-2 border-[#1c2029];
}
.error{
    @apply text-red-600 font-bold;
}
.basicInput {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.buttonLayout{
    @apply
    text-white
    bg-blue-700
    hover:bg-blue-800
    font-medium
    rounded-lg
    text-sm
    w-full
    sm:w-auto
    px-5
    py-2.5
    text-center
}

.buttonLayoutSecond{
    @apply
    py-2.5
    px-5 me-2
    mb-2
    text-sm
    font-medium
    text-gray-900
    bg-white
    rounded-lg
    border
    border-gray-200
    hover:bg-gray-100
    dark:border-gray-600
    dark:text-white
    dark:bg-gray-700;
}
.buttonLayoutSecond:hover{
    @apply
    dark:bg-gray-800
    dark:text-gray-400
}

.form-label {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.form-error {
    @apply p-1 text-red-800 italic;
}

.form-button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.password-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.base-button {
    @apply text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
}

.products-list {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-0 list-none;
}