---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import type {APIRoute} from "astro";
import Layout from "../../layouts/Layout.astro";
type League = {
    id: number;
    leagueId: string;
    name: string;
};

const response = await fetch('http://localhost:4321/api/leagues');
const {status, data, message} = await response.json();
---
<Layout>
    <div class="flex flex-col items-center h-screen pt-[15vh]">
        <div class="bgColorLight p-15 rounded-lg shadow-md">
            <!-- Title -->
            <div class="mb-4 text-center">
                <h2 class="text-2xl font-bold">Leagues</h2>
            </div>

            <!-- Error Message or List -->
            {status === "error" || !data?.length ? (
                    <p class="text-red-600 font-bold">{message || "No leagues available"}</p>
            ) : (
                    <ul class="space-y-2 bg-gray-800">
                        {data.map((league: League) => (
                                <li class="p-2 shadow-sm hover:bg-gray-600">
                                    <a href={`/football/leagueTeams?leagueId=${league.leagueId}&leagueName=${encodeURIComponent(league.name)}`}
                                       class="font-medium text-white">
                                        Go to {league.name}
                                    </a>
                                </li>
                        ))}
                    </ul>
            )}
        </div>
    </div>
</Layout>




