---


---

<html lang="en">
<head></head>
<body>


<h2>Password reset</h2>
<div id="error-message" class="error"></div>

<form id="passwordResetForm" action="/api/forgotPassword" method="POST">
    <label for="email">Email:</label>
    <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
    />
    <button type="submit">Submit</button>
</form>


<script>
    const errorMessageElement = document.getElementById('error-message')!;

    document.querySelector('form')?.addEventListener('submit', async (e) => {
        e.preventDefault();

        errorMessageElement.innerHTML = '';
        const formElement = e.target as HTMLFormElement;

        const response = await fetch(
            formElement.action,
            {
                method: formElement.method,
                body: new FormData(formElement)
            }
        );
        const textResponse = await response.text();
        console.log("Raw response text:", textResponse);
        try {

            const data = JSON.parse(textResponse);

            if (response.ok) {
                if (data.status === 'success') {
                    errorMessageElement.innerHTML = data.message;
                }
            } else {

                errorMessageElement.innerText = data.message || `Error: ${response.status}`;
                errorMessageElement.scrollIntoView({behavior: 'smooth', block: 'center'});
            }
        } catch (e) {

            console.error("Error parsing JSON:", e);
            errorMessageElement.innerText = `Unexpected response format: ${textResponse}`;
            errorMessageElement.scrollIntoView({behavior: 'smooth', block: 'center'});
        }
    });
</script>

</body>
</html>
