---
import Layout from '../layouts/Layout.astro';
console.log(await Astro.session?.get('token'));
const user = await Astro.session?.get('user');
console.log(user);
---

<Layout title={"Index Page"}>
    {user !== null && (<h1>Hallo ${user}</h1>)}
    <div class="container">
        <a href="/football/leagues" class="buttonLayout">Go to Leagues</a>

        {user === null && (
                <a href="/register" class="buttonLayout">Go to Register</a>
        )}

        {user === null && (
                <a href="/login" class="buttonLayout">Go to Login</a>
        )}

        {user !== null && (
                <a href="/favorites" class="buttonLayout">Go to Favorites</a>
        )}
        <a href="/forgotPassword" class="buttonLayout">Reset Password</a>

        {user !== null && (
                <button id="logoutBtn" class="buttonLayout">Logout</button>
        )}

    </div>




    <div id="message" class="message"></div>

</Layout>

<script>
    document.getElementById('logoutBtn')?.addEventListener('click', async (e) => {
        e.preventDefault();

        const messageDiv = document.getElementById('message') as HTMLDivElement;


        const response = await fetch('http://localhost:4321/api/logout', {method: 'POST'});

        try {
            if (response.redirected) {

                messageDiv.innerHTML = "logout successfully redirect in 5 sec";
                messageDiv.classList.remove('error');
                window.location.href = response.url;
            } else {
                const data = await response.json();
                messageDiv.innerHTML = "Logout failed: " + data.message;
                messageDiv.classList.add('error');

            }

        } catch (error) {
            messageDiv.innerHTML = "An unexpected error occurred." + error;
            messageDiv.classList.add('error');
        }
    });
</script>
