---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
console.log(await Astro.session?.get('token'));
const user = await Astro.session?.get('user');
console.log(user);
---
<html lang="en">


<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Football Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        h2 {
            color: #333;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            margin-top: 20px;
        }

        .btn {
            display: inline-block;
            width: 200px; /* Ensures all buttons have the same width */
            padding: 12px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
            transition: background 0.3s ease-in-out;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
{user !== null && (<h1>Hallo ${user}</h1>)}

<h2>Welcome to the Football Page</h2>

<div class="container">



    <a href="/football/leagues" class="btn">Go to Leagues</a>

    {user === null && (
            <a href="/register" class="btn">Go to Register</a>
    )}

    {user === null && (
            <a href="/login" class="btn">Go to Login</a>
    )}

    {user !== null && (
            <button id="logoutBtn" class="btn">Logout</button>
    )}

</div>

<div id="message" class="message"></div>

<script>
    document.getElementById('logoutBtn')?.addEventListener('click', async (e) => {
        e.preventDefault();

        const messageDiv = document.getElementById('message') as HTMLDivElement;


        const response = await fetch('http://localhost:4321/api/logout', {method: 'POST'});

        try {
            if (response.redirected) {

                messageDiv.innerHTML = "logout successfully redirect in 5 sec";
                messageDiv.classList.remove('error');
                window.location.href = response.url;
            } else {
                const data = await response.json();
                messageDiv.innerHTML = "Logout failed: " + data.message;
                messageDiv.classList.add('error');

            }

        } catch (error) {
            messageDiv.innerHTML = "An unexpected error occurred." + error;
            messageDiv.classList.add('error');
        }
    });
</script>
</body>


</html>
