---
import Layout from "../layouts/Layout.astro";
const token = await Astro.session?.get('token');
if (token !== null) {
    console.log(token);
    return Astro.redirect('/');
}
---

<Layout>
    <div class="flex justify-center h-screen items-start pt-[25vh]">
        <div class="bgColorLight rounded-2xl p-8">
            <div class="text-center space-y-6 m-5">
                <h2 class="text-3xl font-bold">Login</h2>
                <div id="error-message" class="error"></div>
                <div class="space-y-6">
                    <form id="login-form" action="/api/login" method="POST" class="space-y-4">
                        <!-- Email Field -->
                        <div class="flex items-center space-x-2">
                            <label for="email" class="w-20 text-right">Email:</label>
                            <input
                                    class="basicInput w-64 p-2 rounded-md"
                                    type="email"
                                    id="email"
                                    name="email"
                                    placeholder="Enter your email"
                                    required
                            />
                        </div>

                        <!-- Password Field -->
                        <div class="flex items-center space-x-2">
                            <label for="password" class="w-20 text-right">Password:</label>
                            <input
                                    class="basicInput w-64 p-2 rounded-md"
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Enter your password"
                                    required
                            />
                        </div>

                        <!-- Submit Button -->
                        <div class="flex items-center justify-center space-x-2">
                            <button class="buttonLayout w-full p-2 m-2 item-center rounded-md mt" type="submit">Login</button>
                            <a href="/register" class=" buttonLayoutSecond item-center m-2"> Sign Up</a>
                        </div>
                        <a href="/forgotPassword" class=""> Forgot Password?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</Layout>


<script>
    const errorMessageElement = document.getElementById('error-message')!;

    document.querySelector('form')?.addEventListener('submit', async (e) => {
        e.preventDefault();
        errorMessageElement.innerHTML = '';

        const formElement = e.target as HTMLFormElement;
        const response = await fetch(
            formElement.action,
            {
                method: formElement.method,
                body: new FormData(formElement)
            }
        );

        try {
            if (response.redirected) {
                errorMessageElement.innerHTML = "Login successful! redirect in 5 seconds.";
                setTimeout(() => {
                    window.location.assign(response.url);
                }, 5000)


            } else {
                const textResponse = await response.text();
                const data = JSON.parse(textResponse);
                errorMessageElement.innerText = data.message;
                errorMessageElement.scrollIntoView({behavior: 'smooth', block: 'center'});
            }
        } catch (e) {

            console.error("Error parsing JSON:", e);
            errorMessageElement.innerText = `Unexpected response format:}`;
            errorMessageElement.scrollIntoView({behavior: 'smooth', block: 'center'});
        }
    });
</script>